.search-results {
    background-color: #F5F6F7;
}

.search-results__title {
    font-size: 40px;
    line-height: 1.15;
    margin: 0;
}

.search-results__button {
    font-weight: 500;
    margin: 0 auto;
    display: flex;
    background: #FFF;
    padding: 20px 99px;
    border: none;
    border-radius: 80px;
    transition: all 0.5s;
}

.search-results__button:hover {
    background: #E8E8E8;
    opacity: 0.9;
}

@media screen and (max-width: 960px) {
    .search-results__title {
        font-size: 30px;
        line-height: 1.13;
    }
}

@media screen and (max-width: 480px) {
    .search-results__title {
        margin: 0 0 34px;
    }
}