.saved-header{
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

.saved-header__container {
    color: #000;
}

.saved-header__link_active {
    height: 100%;
    border-bottom: 3px solid #000;
}

.saved-header__link {
    text-decoration: none;
    color:#000;
}

.saved-header__user_login {
    width: unset;
    border-color: #000;
    padding: 11px 15px 11px 19px;
}

.saved-header__user_logout-icon {
    display: block;
}