.sheader{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 calc(104 / 1440 * 100%);
    height: 80px;
}
.savedHeader__container {
    color: #000;
}

.savedHeader__link {
    text-decoration: none;
    color:#000;
}

.savedHeader__user_login {
    border-color: #000;
}