.about__container {
  padding: 80px calc(104 / 1440 * 100%);
  display: grid;
  gap: 56px;
  grid-template-columns: minmax(232px, max-content) minmax(288px, max-content);
}

.about__info-container {
  max-width: 600px;
}

.about__pic {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 50%;
}

.about__info_title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 40px;
  line-height: 1.15;
  margin: 0 0 24px 0;
}

.about__info_text {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about__container {
    padding: 40px 40px 60px;
    gap: 32px
  }

  .about__pic {
    max-width: 232px;
    max-height: 232px;
  }

  .about__info-container {
    max-width: 424px;
    max-height: 424px;
    width: 100%;
    gap: 16px;
  }

  .about__info_title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 620px) {
  .about__container {
    padding: 32px 16px 128px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .about__pic {
    max-width: 350px;
    max-height: 350px;
  }

  .about__info-container {
    max-width: 464px;
    max-height: 464px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .about__pic {
    max-width: 272px;
    max-height: 272px;
  }
}