.navigation {
    height: 100%;
}

.navigation__links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: 500;
    height: 100%;
}

.navigation__link-item {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.navigation__link-home_active {
    height: 100%;
    border-bottom: 3px solid #FFFFFF;
}

.navigation__link-saved_active {
    height: 100%;
    border-bottom: 3px solid #FFFFFF;
}

.navigation__user_login {
    padding: 12px;
    border: 1px solid #FFF;
    border-radius: 100px;
    display: flex;
    gap: 22px;
}

.navigation__user_logout-icon {
    display: none;
}

.navigation__user_logout-icon_active {
    display: block;
}