.navigation {
    height: 100%;
    display: flex;
    align-items : center;
    gap: 64px;
}

.navigation__links {
    display: flex;
    flex-direction: row;
    gap: 76px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
    font-weight: 500;
}

.navigation__link {
    text-decoration: none;
    color:#FFFFFF;
}

.navigation__link-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.6s;
    height: 100%;
}

.navigation__link-home_active {
    border-bottom: 3px solid #FFFFFF;
}

.navigation__link-saved_active {
    border-bottom: 3px solid #000;
}

.navigation__button {
    width: 152px;
    height: max-content;
    padding: 11px;
    border: 1px solid #FFF;
    border-radius: 100px;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    gap: 14px;
    color: #FFF;
    background: transparent;
    cursor: pointer;
}