.navigation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items : center;
    gap: 64px;
}

.navigation__logo {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin: 30px 0 26px;
    cursor: pointer;
}

.navigation__logo_type_saved {
    color: #000;
}

.navigation__area {
    display: flex;
    align-items: center;
    gap: 64px;
    height: 100%;
}

.navigation__links {
    display: flex;
    flex-direction: row;
    gap: 76px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
    font-weight: 500;
}

.navigation__link {
    text-decoration: none;
    color:#FFFFFF;
}

.navigation__link_type_saved {
    color:#000;
}

.navigation__link-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.6s;
    height: 100%;
}

.navigation__link-home_active {
    border-bottom: 3px solid #FFFFFF;
}

.navigation__link-saved_active {
    border-bottom: 3px solid #000;
}

.navigation__button {
    width: 152px;
    height: max-content;
    padding: 11px;
    border: 1px solid #FFF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    color: #FFF;
    background: transparent;
    cursor: pointer;
}

.navigation__button_type_saved {
    border-color: #000;
    color: #000;
    padding: 11px 15px 11px 19px;
}

.navigation__user_logout-icon {
    background: url("../../images/icons/logout.svg");
    display: none;
    width: 24px;
    height: 24px;
}

.navigation__user_logout-icon_active {
    display: block;
}