.searchForm {
    color: #FFF;
    max-width: 608px;
    margin: 0 auto;
    padding: 80px calc(104 / 1440 * 100%);
}

.searchForm__title{
    font-family: "Roboto Slab";
    font-weight: normal;
    font-size: 60px;
    line-height: 1.07;
    margin: 0;
}

.searchForm__subtitle{
    margin: 32px 0 88px;
}

.searchForm__input_container {
    display: flex;
    position: relative;
}

.searchForm__input {
    border-radius: 40px;
    width: 100%;
    height: 60px;
    border: none;
}

.searchForm__input_button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 55px;
    height: 100%;
    border: none;
    border-radius: 100px;
    background-color: #2F71E5;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
}

.searchForm__input_button:hover {
    background-color: #347EFF;
}

.searchForm__input_button:focus {
    background-color: #2A65CC;
}