/* .header {
} */

.header__container {
    /* max-width: calc(100vw - (104 / 1280 * 100%)); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

.header__logo {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    padding: 30px 0;
}

.header__seperator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}