.header__container {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.header__logo {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}