.newsCardList {
    padding: 64px calc(104 / 1440 * 100%);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    justify-content: center;
    gap: 16px;
    margin: 0;
    flex-direction: column;
    background-color: #F5F6F7;
}

@media screen and (max-width: 960px) {
    .newsCardList {
        grid-template-columns: repeat(auto-fit, minmax(224px, auto));
        padding: 32px 40px;
        gap: 8px;
    }
}

@media screen and (max-width: 480px) {
    .newsCardList {
        grid-template-columns: repeat(auto-fit, minmax(272px, auto));
        padding: 24px 16px 16px;
        gap: 8px;
    }
}