.newsCard {
    list-style: none;
    position: relative;
    width: 400px;
    border-radius: 16px;
    background-color: white;
}

.newsCard__image {
    width: 100%;
    max-height: 272px;
    display: block;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.newsCard__keyword {
    background-color: white;
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 8px 22px;
    margin: 0;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.77;
}

.newsCard__help {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    position: absolute;
    top: 24px;
    right: 69px;
    padding: 12px 26px;
    margin: 0;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.5s;
}

.newsCard__button {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
}

.newsCard__button:hover + .newsCard__help {
    visibility: visible;
    opacity: 1;
}

.newsCard__button_home {
    background: #FFF url("../../images/icons/save_icon.svg") center no-repeat;
}

.newsCard__button_home:hover {
    background: #FFF url("../../images/icons/save_icon_hover.svg") center no-repeat;
}

.newsCard__button_saved {
    background: #FFF url("../../images/icons/delete_icon.svg") center no-repeat;
}

.newsCard__button_saved:hover {
    background: #FFF url("../../images/icons/delete_icon_active.svg") center no-repeat;
}


.newsCard__text-area {
    padding: 20px 24px;
    margin: 0;
}

.newsCard__date {
    margin: 0 0 12px;
    font-family: 'Source Sans Pro';
    color: #B6BCBF;
}

.newsCard__title {
    margin: 0 0 16px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
}

.newsCard__text {
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 1.38;
}

.newsCard__source {
    margin: 0;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}